@import url('https://fonts.googleapis.com/css2?family=Inter:wght@400;700&family=Lexend+Deca&display=swap');

*{
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

html{
  font-size: 15px;
}

body{
  height: 140vh;
  display: flex;
  align-items: center;
  justify-content: center;
  font-family: 'Inter', sans-serif;
  color: hsl(0, 0%, 100%);
  background-color: hsl(233, 47%, 7%);
}

main{
  width: 24rem;
  margin: 5rem 0;
  border-radius: 10px;
  background-color: hsl(244, 38%, 16%);
}

.container{
  height: 15.3rem;
  background-color: hsl(277, 64%, 61%);
  border-radius: 10px 10px 0 0;
}

.image{
  height: 100%;
  width: 100%;
  background-image: url("/images/image-header-mobile.jpg");
  background-size: cover;
  mix-blend-mode: multiply;
  border-radius: 10px 10px 0 0;
  opacity: 0.8;
}

.info{
  text-align: center;
  padding: 2.5rem 3rem;
}

h2{
  font-size: 1.9rem;
  margin-bottom: 1.2rem;
}

h2 span{
  color: hsl(277, 64%, 61%);
}

.info-txt{
  margin-bottom: 2.5rem;
  font-size: 1rem;
  line-height: 28px;
  color: hsla(0, 0%, 100%, 0.75);
}

.itm{
  margin-bottom: 2rem;
}

.itm span{
  font-size: 1.5rem;
  font-weight: 700;
}

.itm p{
  margin-top: 0.4rem;
  letter-spacing: 0.1rem;
  font-size: 0.9rem;
  color: hsla(0, 0%, 100%, 0.6);
  font-weight: 400;
  font-family: 'Lexend Deca', sans-serif;
}


@media (min-width: 768px){
  body{
    height: 100vh;
  }
  
  main{
    width: 70rem;
    display: flex;
    margin: 0 2rem;
    flex-direction: row-reverse;
  }
  
  .container{
    width: 50%;
    height: auto;
    border-radius: 0 10px 10px 0;
  }
  
  .image{
    background-image: url("/images/image-header-desktop.jpg");
    background-size: cover;
    border-radius: 0 10px 10px 0;
  }
  
  .info{
    width: 50%;
    text-align: left;
    padding: 4rem 4rem 2rem;
  }
  
  .stats{
    margin-top: 5rem;
    display: flex;
    gap: 2.8rem;
  }
  
  h2{
    font-size: 2.4rem;
  }
  
  .info-txt{
    max-width: 24rem;
  }
   
}